.container {
  text-align: center;
  padding: 30px;
  font-family: Arial;
}

button {
  margin: 10px;
  padding: 8px 18px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background: #6200ea;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #4a00c4;
}
