/* Center content */
mat-card {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
}

/* Title */
mat-card-title {
  font-size: 26px;
  font-weight: 700;
}

/* Text */
mat-card-content p {
  font-size: 17px;
  color: #555;
}
