<h1>Directive Deep Dive</h1>


<h2>ngFor & ngIf Recap</h2>
<ul>
  <li *ngFor="let color of colors">{{ color }}</li>
</ul>

<p *ngIf="show">This text is conditionally visible!</p>
<button (click)="toggle()">Toggle Text</button>

<hr>


<h2 [ngClass]="{ 'highlight': isActive }" [ngStyle]="{ 'background-color': bgColor }">
  ngClass and ngStyle Example
</h2>
<button (click)="changeColor()">Change Color</button>

<hr>


<p appBasicHighlight>Basic Highlight Directive Applied!</p>


<p appBetterHighlight>Better Highlight using Renderer</p>


<p appHostBinding>Hover to see HostBinding effect!</p>


<p *appUnless="show">This appears when show = FALSE</p>

<hr>


<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'">Color is Red</p>
  <p *ngSwitchCase="'green'">Color is Green</p>
  <p *ngSwitchDefault>Unknown Color</p>
</div>

<button (click)="switchColor()">Change Color</button>
