h1 {
  text-align: center;
  color: #222;
}
.highlight {
  color: white;
  padding: 10px;
}
p {
  padding: 8px;
  border-radius: 4px;
  margin: 4px 0;
}
button {
  margin: 6px;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: teal;
  color: white;
  border: none;
}
button:hover {
  background-color: purple;
}
