.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
}

mat-card {
  margin-bottom: 20px;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #1f13a3ff;
  margin-bottom: 20px;
}

.form-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

mat-form-field {
  flex: 1 1 45%;
  min-width: 200px;
}

button {
  align-self: center;
  height: 40px;
}

.table-card {
  overflow-x: auto;
}

table {
  width: 100%;
}

@media (max-width: 600px) {
  .form-layout {
    flex-direction: column;
  }
  mat-form-field {
    width: 100%;
  }
}
